<div [formGroup]="form" class="course-details-form">

  <mat-form-field floatLabel="always">
    <mat-label>Course title</mat-label>
    <input matInput placeholder="Course title" formControlName="title" #title>
    <mat-hint align="end">
      {{title.value.length}} / {{ maxTextTitle }}
    </mat-hint>
    @if(courseTitle.errors?.minlength){
    <mat-error>
      A minimum length of 5 characters is required.
    </mat-error>
    }

  </mat-form-field>

  <mat-radio-group class="course-type" formControlName="courseType">
    <mat-radio-button value="free" [disabled]="true">Free</mat-radio-button>
    <mat-radio-button value="premium">Premium</mat-radio-button>
  </mat-radio-group>

  <mat-form-field appearance="fill">
    <mat-label>Select Category</mat-label>
    <mat-select formControlName="category" placeholder="Select Category" multiple>

      <mat-option>None</mat-option>


      <mat-optgroup label="Beginners">

        <mat-option value="newprogramming">New To Programming</mat-option>
        <mat-option value="newjavascript">New To Javascript</mat-option>
        <mat-option value="newangular">New To Angular</mat-option>

      </mat-optgroup>




      <!-- <mat-option value="BEGINNERS">Beginners</mat-option> -->
      <mat-option value="INTERMEDIATE">Intermediate</mat-option>
      <mat-option value="ADVANCED">Advanced</mat-option>
    </mat-select>
  </mat-form-field>


</div>