<div [formGroup]="form" class="course-details-form">

  <mat-form-field floatLabel="always">
    <mat-label>Course title</mat-label>
    <input matInput placeholder="Course title" formControlName="title">
    <span matPrefix>+32</span>
    <span matSuffix>.00</span>

  </mat-form-field>

<!--  <mat-form-field appearance="fill">-->
<!--    <mat-label>Course title</mat-label>-->
<!--    <input matInput placeholder="Course title" formControlName="title">-->
<!--  </mat-form-field>-->

<!--  <mat-form-field appearance="outline">-->
<!--   <mat-label>Course title</mat-label>-->
<!--    <input matInput placeholder="Course title" formControlName="title">-->
<!--  </mat-form-field>-->

</div>
