<div class="tree-demo-container">

  <h3>Nested Tree Demo</h3>

  <mat-tree class="example-tree mat-elevation-z4" [dataSource]="nestedDataSource" [treeControl]="nestedTreeControl">

    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
      {{node.name}}
    </mat-tree-node>
    <mat-nested-tree-node>
      <div class="mat-tree-node">
        <button mat-icon-button matTreeNodeToggle>
          "chevron-right"
        </button>
      </div>
    </mat-nested-tree-node>
  </mat-tree>






  <h3>Flat Tree Demo</h3>

</div>